<?xml version="1.0" encoding="UTF-8"?>

    <!--媒体平台相关配置-->
<config xsi:noNamespaceSchemaLocation="SDKSchema.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    
    <!-- 配置文件的版本号  <configVersion>20151016</configVersion>  -->
    <configVersion>6</configVersion>
    
    <!--缓存队列设置-->
    <offlineCache>
        <length>0</length>
        <queueExpirationSecs>60</queueExpirationSecs>
         <!--发送超时时间-->
        <timeout>60</timeout>
    </offlineCache>

    <companies>
        <company>
            <name>admaster</name>
            <domain>
                <!-- 此处需修改为第三方检测公司监测代码的 host 部分 -->
                <url>admaster.com.cn</url>
            </domain>
            <signature>
                <publicKey>Z83476Hel</publicKey>
                <paramKey>sign</paramKey>
            </signature>
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <!-- 失效时间，单位秒 -->
                <offlineCacheExpiration>259200</offlineCacheExpiration>
                <encrypt>
                    <MAC>md5</MAC>
                    <IDA>md5</IDA>
                    <IMEI>md5</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <!--argument的必选和常用可选参数 key需确定-->
                    <!--必选函数-->
                    <argument>
                        <key>OS</key>
                        <value>0a</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>

                    <argument>
                        <key>TS</key>
                        <value>t</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>

                    <argument>
                        <key>IDFAMD5</key>
                        <value>0j</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>

                    <argument>
                        <key>IMEI</key>
                        <value>0c</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    
                    <argument>
                        <key>ANDROIDID</key>
                        <value>0d</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    
                    <argument>
                        <key>AKEY</key>
                        <value>x</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
				
				<ext_arguments>
                    <argument>
                        <key>ACTION_CODE</key>
                        <value>h</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
				</ext_arguments>
				
                <events>
                    <event>
                        <!--<name>m1</name>-->
                        <key>start</key>
                        <value>m201</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <!--<name>e1</name>-->
                        <key>end</key>
                        <value>m203</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>


            </config>
            <separator>,</separator>
            <equalizer></equalizer>
        </company>

        <company>
            <name>miaozhen</name>
            <domain>
                <url>miaozhen.com</url>
            </domain>
            <signature>
                <publicKey>DbXiUlEVN</publicKey>
                <paramKey>mf</paramKey>
            </signature>
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>604800</offlineCacheExpiration>
                <encrypt>
                    <MAC>raw</MAC>
                    <IDA>raw</IDA>
                    <IMEI>raw</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>      
            <config>
                <arguments>
                    <argument>
                        <key>OS</key>
                        <value>mo</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TS</key>
                        <value>mt</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IDFA</key>
                        <value>m5</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IMEI</key>
                        <value>m2</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ANDROIDID</key>
                        <value>m1a</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
				
				<ext_arguments>
                    <argument>
                        <key>ACTION_CODE</key>
                        <value>h</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
				</ext_arguments>
				
                <events>
                    <event>
                        <key>start</key>
                        <value>mb=start</value>
                        <urlEncode>false</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>mb=end</value>
                        <urlEncode>false</urlEncode>
                    </event>
                </events>
            </config>    
            <separator>&amp;</separator>         
            <equalizer>=</equalizer>
        </company>

		<company>
            <name>doubleclick</name>
            <needUA>1</needUA>
            <domain>
                <url>doubleclick.net</url>
            </domain>
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>259200</offlineCacheExpiration>
                <encrypt>
                    <MAC>md5</MAC>
                    <IDA>md5</IDA>
                    <IMEI>md5</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>      
            <config>
                <arguments>
                    <argument>
                        <key>TS</key>
                        <value>ord</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IDFAMD5</key>
                        <value>dc_muid</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ANDROIDID</key>
                        <value>dc_muid</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
				
				<ext_arguments>
                    <argument>
                        <key>ACTION_CODE</key>
                        <value>kw</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
				</ext_arguments>
				
                <events>
                    <event>
                        <key>start</key>
                        <value>mb=start</value>
                        <urlEncode>false</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>mb=end</value>
                        <urlEncode>false</urlEncode>
                    </event>
                </events>
            </config>
            <separator>;</separator>         
            <equalizer>=</equalizer>
            <timeStampUseSecond>false</timeStampUseSecond>
		</company>

		<company>
            <name>sina</name>
            <needUA>1</needUA>
            <domain>
                <url>weibo.com</url>
            </domain>
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>259200</offlineCacheExpiration>
                <encrypt>
                    <MAC>md5</MAC>
                    <IDA>md5</IDA>
                    <IMEI>md5</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>      
            <config>
                <arguments>
                    <argument>
                        <key>OS</key>
                        <value>mo</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TS</key>
                        <value>ord</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IDFAMD5</key>
                        <value>dc_muid</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ANDROIDID</key>
                        <value>dc_muid</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
				
				<ext_arguments>
                    <argument>
                        <key>ACTION_CODE</key>
                        <value>ac</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
				</ext_arguments>
				
                <events>
                    <event>
                        <key>start</key>
                        <value>mb=start</value>
                        <urlEncode>false</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>mb=end</value>
                        <urlEncode>false</urlEncode>
                    </event>
                </events>
            </config>
            <separator>&amp;</separator>         
            <equalizer>=</equalizer>
            <timeStampUseSecond>false</timeStampUseSecond>
		</company>

    </companies>
</config>